
@{
    ViewBag.Title = "Error 500";
}

<div class="container">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="active">500</li>
    </ul>
    <div class="annHomeHead">
        <h2>Error</h2>
    </div>
    <hr />
    <div class="col-sm-8 featureContent">
        <h3>We have encountered an error.</h3>
        <p>Please try your action again.</p>
        <h3>It seems we are having some issues on our side, please be patient as we resolve the issue.</h3>
    </div>
</div>


