
@{
    ViewBag.Title = "Not Found";
}

<main class="container">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="active">Error</li>
    </ul>
    <div class="annHomeHead">
        <h2>Error</h2>
    </div>
    <hr />
    <div class="col-sm-8 featureContent errorContainer">
        <h3>We have encountered an error.</h3>
        <p>Please try your action again.</p>
        <h3>The page your trying to reach doesn't seem to exist...</h3>
    </div>
</main>
<div class="jumbotron" id="imgContainer">
    <img src="~/imgs/saddoc.jpg" alt="A sad doctor" />
</div>
