
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_headFoot.cshtml";
}

<div class="container">
    <a href="~/Views/Passes/Index.cshtml">My Passes</a>
    <a href="~/Views/Vehicles/Index.cshtml">My Vehicles</a>
</div>

