<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1011 758">
    <defs>
        <clipPath id="clip-path"><rect x="33" width="978" height="721" style="fill:none" /></clipPath>
    </defs>
    <title>InteractiveMap</title>
    <g id="gmap" style="opacity:0.55">
        
</g>

<g id="Grass" style="opacity:0.31">
    <rect width="1011" height="758" style="fill:#c8e296"/>
</g>
<g id="HumberShores">
    <g id="RadiologyResearch">
        <polygon points="596 356 596 316 556 316 556 254 596 254 596 190 644 190 644 221 719 221 719 297 644 297 644 356 596 356" style="fill:#009245"/>
        <path d="M643.5,190.5v31h75v75h-75v59h-47v-40h-40v-61h40v-64h47m1-1h-49v64h-40v63h40v40h49v-59h75v-77h-75v-31Z"/>
    </g>
    <g id="ShippingRecieving">
        <polygon points="454 253 454 203 520 203 520 191 560 191 560 170 595 170 595 253 454 253" style="fill:#f7931e" />
        <path d="M594.5,170.5v82h-140v-49h66v-12h40v-21h34m1-1h-36v21h-40v12h-66v51h142v-84Z" />
</g>
    <g id="InPatients">
        <rect x="664" y="357" width="174" height="86" style="fill:#662d91" />
        <path d="M837.5,357.5v85h-173v-85h173m1-1h-175v87h175v-87Z" />
    </g>
    <g id="Administration">
        <rect x="454" y="254" width="101" height="102" style="fill:#ff7bac" />
        <path d="M554.5,254.5v101h-100v-101h100m1-1h-102v103h102v-103Z" />
    </g>
    <g id="LongTermCare">
        <polygon points="720 234 720 167 635 167 635 130 851 130 851 167 779 167 779 234 720 234" style="fill:#c1272d" />
        <path d="M850.5,130.5v36h-72v67h-58v-67h-85v-36h215m1-1h-217v38h85v67h60v-67h72v-38Z" />
    </g>
    <g id="Emergency">
        <polygon points="556 519 556 457 454 457 454 357 663 357 663 519 556 519" style="fill:#0071bc" />
        <path d="M662.5,357.5v161h-106v-62h-102v-99h208m1-1h-210v101h102v62h108v-163Z" />
    </g>
    <g id="Surgery">
        <polygon points="720 356 720 235 856 235 856 307 789 307 789 356 720 356" style="fill:#f0f" />
        <path d="M855.5,235.5v71h-67v49h-68v-120h135m1-1h-137v122h70v-49h67v-73Z" />
    </g>
    <g id="HeliPad">
        <rect x="550.5" y="583.5" width="73" height="72" style="fill:#29abe2" />
        <path d="M623,584v71H551V584h72m1-1H550v73h74V583Z" />
    </g>

<g id="ParkingLot">
    <rect x="157.5" y="285.5" width="210" height="120" style="fill:#b3b3b3"/>
    <path d="M367,286V405H158V286H367m1-1H157V406H368V285Z"/>
    <rect x="157.5" y="209.5" width="210" height="48" style="fill:#b3b3b3"/>
    <path d="M367,210v47H158V210H367m1-1H157v49H368V209Z"/>
    <rect x="157.5" y="129.5" width="210" height="48" style="fill:#b3b3b3"/>
    <path d="M367,130v47H158V130H367m1-1H157v49H368V129Z"/>
</g>
    <g id="Entrance">
        <polygon points="409 381 409 265 434 265 434 271 453 271 453 289 434 289 434 357 453 357 453 375 434 375 434 381 409 381" style="fill:#d9e021" />
        <path d="M433.5,265.5v6h19v17h-19v69h19v17h-19v6h-24v-115h24m1-1h-26v117h26v-6h19v-19h-19v-67h19v-19h-19v-6Z" />
    </g>
</g>
    <path id="Roads" d="M63,70H50V554H751.17c6.52,0,40.13-2.06,103.2-40.09,29.89-18,47.9-48.28,52.09-87.5a175.39,175.39,0,0,0-2.57-53.26c-.44-3.3-3.75-28.41-7.9-61.16h60.63L939,90.14a58.29,58.29,0,0,0-6.07-23.56C927.18,55.37,915,42,889.5,42H607.78c-4.9-.34-53-2.88-75.17,28H63M606.89,57l.31,0H889.5c14.19,0,24.24,5.38,29.86,16A43,43,0,0,1,924,90.5v.3L940.38,297H894.09C886.4,235.81,877,157.4,877,139.5c0-11.29-3.5-20.29-10.39-26.75-10.72-10-25.88-9.85-28.29-9.75H586.5c-19.09,0-34.81-13.15-43.22-22C560.22,53.66,606.42,56.94,606.89,57ZM403,424.22V85H526.79c7.15,8.91,29.32,33,59.71,33H838.94c.11,0,10.86-.51,17.48,5.76,3.75,3.56,5.58,8.72,5.58,15.75,0,31.14,26,227.63,27.06,236l.15.76c.2.87,20,87.11-42.58,124.84C782.28,539.88,751.19,539,751,539H353.73c25.82-25.5,37.9-52.35,43.53-71.64C404,444.19,403.19,427,403,424.22ZM152,85H388V190H152Zm0,120H388v57H152Zm236,72V424.5l0,.66c.05.63,4.8,63.24-56.69,113.85H152V277ZM50,85h87V539H50" style="fill:#58595b"/>

<g id="MainRoads">
    <rect id="ShepherdsonRoad" x="33" width="17" height="721" style="fill:#c9b89b"/>
    <rect id="RadleyHillRoad" x="496.5" y="206.5" width="18" height="1011" transform="translate(1217.5 206.5) rotate(90)" style="fill:#c9b89b"/>
    <text transform="translate(13.75 379.04) rotate(90)" style="font-family:OpenSans, Open Sans">Shepherson Road</text>
    <text transform="translate(74 746)" style="font-family:OpenSans, Open Sans">Radley Hill Road</text>
    font-size:16px;
</g>

<g id="Compass">
    <text transform="matrix(0.97, -0.24, 0.24, 0.97, 911.25, 635.11)" style="font-size:40.52824783325195px;font-family:OpenSans-Bold, Open Sans;font-weight:700">N</text>
    <polygon points="909.31 564.3 901.19 592.4 929.58 585.38 909.31 564.3"/>

</g>
</svg>