@{
    ViewBag.Title = "Home";
}
<div class="jumbotron" id="homePageDisplay">
    <img src="~/imgs/jumbotron.jpg" alt="A doctor checking a patients blood pressure." />
</div>

<div class="container">
    <div class="row">
        <div id="indexHeader">
            <h2 class="mainHead">Humber Shores Services</h2>
            <p id="mainSubText">See what Humber Shores Hospital can do for you today!</p>
        </div>
        <div class="col-md-4">
            <h2 class="subHead">Appointments</h2>
            <p class="serviceText">Locate your family physician to book an available opening, at any time, all from your keyboard or mobile device.</p>
            <p class="serviceBtn"><a class="btn btn-default" href="@Url.Action("Index", "appointments")">Book an Appointment</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="subHead">Find a Doctor</h2>
            <p class="serviceText">Looking for a new doctor or specialist? Use our directory to quickly search the staff at our facility.</p>
            <p class="serviceBtn"><a class="btn btn-default" href="@Url.Action("Index", "physicians")">Find a Doctor</a></p>
        </div>
        <div class="col-md-4">
            <h2 class="subHead">Parking Pass</h2>
            <p class="serviceText">Looking to visit a patient or find out information about them? Purchase a Parking Pass for frequent Visits.</p>
            <p class="serviceBtn"><a class="btn btn-default" href="/">Buy Parking Pass</a></p>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row" id="testimonials">
        <div id="indexHeader">
            <h2 class="mainHead">Humber Shores Testimonials</h2>
            <p>Here's what Humber Shores Patients are saying about us!</p>
        </div>
        <div class="col-md-4">
            <div class="testiHole">

            </div>
            <div class="testiText">
                <p>Tim, Etobicoke</p>
                <p>I was in the hospital for 1 month after a hip replacement and I could not have had better care from a great and friendly staff! I highly recommend Humber Shores.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="testiHole">

            </div>
            <div class="testiText">
                <p>Melissa, Missisauga</p>
                <p>After my daughter fainted at the playground, she was taken to Humber Shores and the nurses took such good care of not only here, but a distraught mother. I can't thank them enough.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="testiHole">

            </div>
            <div class="testiText">
                <p>Bruce, Bolton</p>
                <p>When my wife was sick, she was in Humber Shores frequently, I was always welcommed at any time of day and all the nurses knew our names and couldn't be friendlier.</p>
            </div>
        </div>
    </div>
</div>