@model HumberShores.Models.OPPORTUNITY

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_headFoot.cshtml";
}


<div class="container">
    <div class="card" id="del_card">
    <h3 class="text-center">Are you sure you want to delete @Html.DisplayFor(model => model.OPPORTUNITY_TITLE) ?</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center" id="del_btn">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
    </div>
</div>
    